/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-red: hsl(4, 100%, 67%);
  --accent-red: hsl(347, 100%, 66%);
  --accent-orange: hsl(13, 99%, 62%);

  --neutral-blue-800: hsl(234, 29%, 20%);
  --neutral-blue-700: hsl(235, 18%, 26%);
  --neutral-grey: hsl(0, 0%, 58%);
  --neutral-white: hsl(0, 0%, 100%);

  --ff-roboto: "Roboto", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITIES ### */

.hide {
  display: none;
}

.bold {
  color: var(--neutral-blue-800);
  font-weight: var(--fw-700);
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-400);
  background-color: var(--neutral-blue-700);
  line-height: 1.5;
}

h1 {
  font-weight: var(--fw-700);
  color: var(--neutral-blue-800);
}

ul {
  list-style: none;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(./assets/images/icon-list.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-inline-end: 0.8rem;
}

input[type="email"],
label,
button[type="submit"] {
  display: block;
  width: 100%;
}

input[type="email"] {
  border: 1px solid var(--neutral-grey);
  color: var(--neutral-grey);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

button[type="submit"],
button[type="button"] {
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--neutral-blue-800);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  color: var(--neutral-white);
}

/* ### NEWSPAPER SIGN-UP ARTICLE ### */

.newsletter-sign-up {
  max-width: 375px;
  margin-inline: auto;
  background-color: var(--neutral-white);
}

.newsletter-sign-up .grid-container {
  display: grid;
  grid-template-areas:
    "sign-up-img"
    "sign-up-text";
}

/* ### NEWSLETTER TEXT SECTION ### */

.newsletter__text-section {
  grid-area: sign-up-text;
  padding: 2rem 1.5em;
}

.newsletter__text-section > * + * {
  margin-top: 1rem;
}

.newsletter-title {
  font-size: 2.6rem;
}

.newsletter__text-section ul > * + * {
  margin-top: 1.125rem;
}

.newsletter__text-section ul li {
  display: flex;
}

.newsletter__text-section ul li::before {
  flex-shrink: 0;
  align-self: flex-start;
}

.newsletter__text-section form {
  margin-top: 2rem;
}

.newsletter__text-section label[for="e-mail"] {
  position: relative;
  color: var(--neutral-blue-800);
  font-size: 0.765rem;
  font-weight: var(--fw-700);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newsletter__text-section input[type="email"] {
  margin-top: 0.6rem;
}

.newsletter__text-section input[type="email"]:focus,
.newsletter__text-section input[type="email"]:focus-visible {
  color: black;
  border-color: black;
}

input[type="email"].email-input-invalid {
  position: relative;
  border: 2px solid hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.173);
}

.newsletter__text-section label[for="e-mail"].invalid-message::after {
  font-size: inherit;
  content: "Valid email required";
  color: hsl(4, 100%, 67%);
}

.newsletter__text-section button[type="submit"] {
  margin-top: 1.5rem;
}

.newsletter__text-section button[type="submit"]:hover,
.success-message button[type="button"]:hover {
  background: linear-gradient(
    to right,
    var(--accent-red),
    var(--accent-orange)
  );
  box-shadow: 0px 5px 15px hsla(0, 100%, 66%, 0.691);
}

/* ### NEWSLETTER IMG SECTION ### */

.newsletter__img-section {
  grid-area: sign-up-img;
}

/* ### MOBILE SUCCESS MODAL ### */

.success-message {
  background-color: var(--neutral-white);
}

.success-message .flex-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 100vh;
  padding: 9rem 1.5rem 2rem;
}

.success-message .icon-success {
  width: 64px;
  height: 64px;
  margin-bottom: 1.6rem;
}

.success-message h2 {
  font-size: 2.5rem;
  color: var(--neutral-blue-800);
  font-weight: var(--fw-700);
  line-height: 1;
}

.success-message p {
  margin-bottom: auto;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 23.438em) {
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newsletter-sign-up {
    max-width: 500px;
    overflow: hidden;
    margin-inline: unset;
    border-radius: 1.5rem;
    padding: 1.5rem;
  }
}

@media (min-width: 26em) {
  main {
    padding: 1.5rem;
  }
  .success-message {
    border-radius: 1.6rem;
  }

  .success-message .flex-container {
    min-height: unset;

    padding: 2.5rem 3rem 3rem;
    max-width: 420px;
  }

  .success-message .icon-success {
    margin-bottom: unset;
    width: 50px;
    height: 50px;
  }

  .success-message h2 {
    margin-top: 0.4rem;
    font-size: 3rem;
  }

  .success-message p {
    font-size: 0.875rem;
  }

  .success-message button[type="button"] {
    margin-top: 0.5rem;
    padding: 0.75rem 1rem;
  }
}
