/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-red: hsl(4, 100%, 67%);
  --accent-red: hsl(347, 100%, 66%);
  --accent-orange: hsl(13, 99%, 62%);

  --neutral-blue-800: hsl(234, 29%, 20%);
  --neutral-blue-700: hsl(235, 18%, 26%);
  --neutral-grey: hsl(0, 0%, 58%);
  --neutral-white: hsl(0, 0%, 100%);

  --ff-roboto: "Roboto", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITIES ### */

.hide {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-400);
  background-color: var(--neutral-blue-700);
  line-height: 1.5;
}

h1 {
  font-weight: var(--fw-700);
  color: var(--neutral-blue-800);
}

ul {
  list-style: none;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(./assets/images/icon-list.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-inline-end: 0.8rem;
}

input[type="email"],
label,
button[type="submit"] {
  display: block;
  width: 100%;
}

input[type="email"] {
  border: 1px solid var(--neutral-grey);
  color: var(--neutral-grey);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

button[type="submit"] {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--neutral-blue-800);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1.5rem;
  color: var(--neutral-white);
}

/* ### NEWSPAPER SIGN-UP ARTICLE ### */

.newsletter-sign-up {
  background-color: var(--neutral-white);
  display: grid;
  grid-template-areas:
    "sign-up-img"
    "sign-up-text";
}

/* ### NEWSLETTER TEXT SECTION ### */

.newsletter__text-section {
  grid-area: sign-up-text;
  padding: 2rem 1.5em;
}

.newsletter__text-section > * + * {
  margin-top: 1rem;
}

.newsletter-title {
  font-size: 2.6rem;
}

.newsletter__text-section ul > * + * {
  margin-top: 1.125rem;
}

.newsletter__text-section ul li {
  display: flex;
}

.newsletter__text-section ul li::before {
  flex-shrink: 0;
  align-self: flex-start;
}

.newsletter__text-section form {
  margin-top: 2rem;
}

.newsletter__text-section label[for="e-mail"] {
  color: var(--neutral-blue-800);
  font-size: 0.765rem;
  font-weight: var(--fw-700);
}

.newsletter__text-section input[type="email"] {
  margin-top: 0.6rem;
}

.newsletter__text-section input[type="email"]:hover,
.newsletter__text-section input[type="email"]:focus-visible {
  color: black;
  border-color: black;
}

.newsletter__text-section input[type="email"]:hover {
  cursor: pointer;
}

.newsletter__text-section button[type="submit"] {
  margin-top: 1.5rem;
}

.newsletter__text-section button[type="submit"]:hover {
  background: linear-gradient(
    to right,
    var(--accent-red),
    var(--accent-orange)
  );
  box-shadow: 0px 5px 15px hsla(0, 100%, 66%, 0.691);
  cursor: pointer;
}

/* ### NEWSLETTER IMG SECTION ### */

.newsletter__img-section {
  grid-area: sign-up-img;
}
